.champion-card {
  background-color: #091428;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.champion-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.champion-image {
  width: 40%;
  height: auto;
  border-radius: 12px;
  margin-right: 20px; 
}
.champion-image-container {
  text-align: center;
}

.champion-details {
  text-align: center;
  margin-top: 10px;
}

.champion-name {
  font-family: 'BeaufortForLol';
  font-size: 40px;
  font-style: italic;
  color: #C89B3C;
}

.champion-title {
  font-size: 18px;
  color: #F0E6D2;
  font-family: 'Spiegel';
}

.champion-blurb {
  font-size: 14px;
  color: #F0E6D2;
  font-family: 'Spiegel';
}

.champion-abilities {
  margin-top: 20px;
}

.champion-ability {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Spiegel';
}

.ability-image {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 10px;
}

.ability-details {
  text-align: left;
}

.ability-name {
  font-size: 18px;
  color: #C89B3C;
  font-family: 'BeaufortForLol';
}

.ability-description {
  font-size: 14px;
  color: #F0E6D2;
}










  