.header {
  background: black;
  padding: 10px 20px; 
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
}

.logo {
  background-color: black;
  width: 150px; 
  height: auto;
}

.header-left {
  display: flex; 
  align-items: center; 
}

.header-right {
  background-color: black;
  display: flex; 
  align-items: center; 
  margin-left:260px ;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
}

.navItem {
  margin-right: 15px; 
}

.navItem:last-child {
  margin-right: 0; 
}

.navItem a {
  font-family: 'mark';
  font-size: 13px;
  color: #f9f9f9;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 5px 20px;
  border: 5px solid transparent;
  transition: border-width 0.3s;
}

.navItem a:hover {
  font-size: 13px;
  color: #f9f9f9;
  border-radius: 0.3rem;
  background-color: #5a5a637a;
}

.navItem a:hover::after {
  width: 0;
  left: 50%;
}




  
  
