.Titulo {
    padding: 40px 0;
    text-align: center;
  }
  
  .Titulo p {
    margin: 0; 
    line-height: 1.2; 
  }
  
  .linha_1 {
    font-size: 22px;
    font-family: 'Spiegel';
  }
  
  .linha_2 {
    color: #0A1428;
    font-style: italic;
    font-size: 80px;
    font-family: 'BeaufortForLol';
  }
  
  
  